# Environment variables for the React application

# Google Analytics configuration
NEXT_PUBLIC_GOOGLE_DATA_ID=

# EmailJS configuration
NEXT_PUBLIC_EMAIL_SERVICE_ID=
NEXT_PUBLIC_EMAIL_TEMPLATE_ID=
NEXT_PUBLIC_EMAIL_PUBLIC_KEY=